@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.back-btn {
  background: none;
  border: none;
  box-shadow: 3px 3px 3px 2px rgba(134, 134, 134, 0.2);
  height: 30px;
  width: 100px;
  margin: 35px auto auto 20px;
}

.details-container-country {
  margin: 60px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px
}

.flag-detailed {
  width: 94%;
}
.country-full-details {
  text-align: left;
  width: 94%;
}

.country-details-text {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.other-det {
  margin: 20px auto 40px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}