@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.detailed-country {
  margin-bottom: 3rem;
}

/* Navbar starts here */

.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
  gap: 20px;
  height: 60px;
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.801);
}

.dark-mode .navbar-nav {
  background-color: rgba(44, 55, 67, 0.89);
}

.dark-mode-btn {
  background: none;
  border: none;
  font-size: 12px;
}

.dark-mode .dark-mode-btn {
  color: white;
}

.dark-mode {
  background-color: #222d37;
  color: rgb(255, 255, 255);
}

/* Navbar ENDS here */

/* Search + Filter starts here */

.search-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1.5rem;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .search-filter-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
  }
}

.search-container,
.region-select {
  width: 290px;
  height: 50px;
  box-shadow: 4px 4px 7px 0 rgba(128, 128, 128, 0.801);
}

/* Search country starts here */

.search-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-country-input {
  border: none;
  font-size: 15px;
  width: 290px;
}

.dark-mode .search-country-input {
  background-color: #222d37;
}

.dark-mode .search-country-input::placeholder {
  color: white;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

.dark-mode .search-btn {
  color: white;
}

/* Search country ends here */

/* Filter begin */
.region-select {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.1em;
  background: none;
  border: none;
  text-align: center;
}

.dark-mode .region-select {
  color: white;
}

/* Filter end */

/* Search + filter ends here */

.countries ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 1rem auto;
}

.countries li {
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 1px 5px 2px gainsboro;
}

.dark-mode .countries li {
  box-shadow: none;
  background-color: rgba(44, 55, 67, 0.89);
}

.found {
  display: block;
  position: absolute;
  top: 230px;
  left: 60px;
}

.hidden {
  display: none;
}

.flag {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.desc {
  padding: 2rem;
}

.official-name {
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.desc span {
  font-weight: 600;
}

.population,
.region,
.capital {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  /* Navbar starts here */

  .navbar-nav {
    padding: 40px;
  }

  .dark-mode-btn {
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
  }

  /* Navbar ENDS here */

  /* Search country starts here */
  .search-container {
    width: 350px;
    height: 50px;
    box-shadow: 4px 4px 7px 0 rgba(128, 128, 128, 0.801);
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .search-country-input {
    border: none;
    font-size: 15px;
    width: 290px;
    padding-left: 20px;
  }

  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 20px;
  }

  /* Search country ends here */
  .countries ul {
    justify-content: space-around;
    gap: 2rem;
    margin: 2.5rem;
  }

  .countries li {
    width: 20%;
  }

  .flag {
    height: 175px;
  }

  .desc {
    padding: 0.5rem;
  }

  .official-name {
    font-size: 1rem;
  }

  .population,
  .region,
  .capital {
    font-size: 0.75rem;
  }
}
